 
       
        <header>
            <div>
                <a href="index.html"><h1>Cheap Cart</h1></a>
                <img src="images/cart.png">
            </div>
        </header>
        
        <nav>
            <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/shoes">Shoes</a></li>
            <li><a href="#/cloth">Cloth</a></li>
            <li><a href="#/contactus">Contact Us</a></li>
            <li  class="checkout"><a href="#/checkout">Check Out</a></li>
            </ul>
        </nav>
        
        <section>
          
          <div class="lpanel">
              
              <h4>Gender</h4>  
              <input type="checkbox" id="men"/><label for="men">Men</label> <br>
              <input type="checkbox" id="female"/><label for="female">Female</label><br>
              
              <h4>Price</h4>
              <input type="radio" name="price" ng-model="cdata.price" value="price" id="low"><label for="low">Low To High</label><br>
              <input type="radio" name="price" ng-model="cdata.price" value="-price" id="high"><label for="high">High To Low</label>
            </div>
            
            <div class="rpanel">
                    <div class="item" ng-repeat="x in cdata | orderBy:cdata.price">
                        <img src="{{x.img}}">
                        <h4>{{x.name}} - {{x.model}}</h4>
                        <h4>$ {{x.price}}</h4>
                        <button>Add To Cart</button>
                </div>
            </div>
            
        </section>
        
        <footer>
            <div class="owner-panel">
                <img src="images/mypic.jpg"/>
               <h4 id="dp">Developed By: Jaimin Patel</h4>
                <h4 id="dp1">By: Jaimin Patel</h4>
            </div>
            <div class="social-panel">
        <a href="https://www.facebook.com/Jaimin-Patel-219580168112810/?ref=hl"><img src="images/fb.png"/></a>
        <a href="http://jaiminpatel91.blogspot.com/"><img src="images/google.png"/></a>
        <a href="https://twitter.com/jaiminpatel91"><img src="images/twitter.png"/></a>
        <a href="https://www.linkedin.com/in/jaiminpatel91"><img src="images/in.png"/></a>
        <a href="https://www.instagram.com/jaimin_9927/"><img src="images/insta.png"/></a>
            </div>
            <div class="credit-panel">
                <img src="images/creditcrd.png"/>
            </div>
        </footer>
